name: sync_test
on:
  pull_request:
    types: [opened, synchronize, reopened]
    # on every topic/feature branches
    branches:
      - main
      - develop

jobs:
  some_job:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - run: echo "hello worldã€€feature a"
